#Encabezado
{
    display:inline;
    }
#menu 
{
    height:41px;
    background:url(../App_Themes/Basico/images/apretado.png) repeat-x;
}
#Salir 
{
    margin-top:2px;
    margin-right:2px;
    float:right;
}



.modalBackground {
	background-color:#BEBCA3;
	filter:alpha(opacity=6);
	opacity:0.6;
}
.modalPopup {
	background-color: #f4f4ff;
	border-width:3px;
	border-style:solid;
	border-color:Gray;
	padding:3px;
	width:250px;
}
.modalPopupRptOP {
	background-color: #f4f4ff;
	border-width:3px;
	border-style:solid;
	border-color:Gray;
	padding:3px;
	width:100%;
	height:100%;
}

/************ MaskedEdit Related Styles ***********************/
.MaskedEditFocus
{
    background-color: #ffffcc;
    color: #000000;
}

.MaskedEditMessage
{
	color: #ff0000;
	font-weight: bold;
}

.MaskedEditError
{
    background-color: #ffcccc;
}

.MaskedEditFocusNegative
{
    background-color: #ffffcc;
    color: #ff0000;
}

.MaskedEditBlurNegative
{
    color: #ff0000;
}



.MyCalendar .ajax__calendar_container {

    border:1px solid #646464;

    background-color: lemonchiffon;

    color: red;

}

.MyCalendar .ajax__calendar_other .ajax__calendar_day,

.MyCalendar .ajax__calendar_other .ajax__calendar_year {

    color: black;

}

.MyCalendar .ajax__calendar_hover .ajax__calendar_day,

.MyCalendar .ajax__calendar_hover .ajax__calendar_month,

.MyCalendar .ajax__calendar_hover .ajax__calendar_year {

    color: black;

}

.MyCalendar .ajax__calendar_active .ajax__calendar_day,

.MyCalendar .ajax__calendar_active .ajax__calendar_month,

.MyCalendar .ajax__calendar_active .ajax__calendar_year {

    color: black;

    font-weight:bold;

}

.popUpProveedoresExclusiones 
{
    width: 30%;
}

#PopUpContenedor
{
    min-width: 500px;
    min-height:400px;
    width: 500px;
    height:400px;
    vertical-align:top;
    text-align:left;
    margin:5px auto;
}
#PopUpContenedor .centrado
{
    text-align: center;
    vertical-align: middle;
    }
#PopUpContenedor .cancelar
{
    position: absolute;
    right:-34px;
    top: -30px;
    }

#PopUpCuentaContable
{
    width: 700px;
    height:500px;
    vertical-align:top;
    text-align:left;
    margin:5px auto;
    }  
    
/* Definiciones de Estilos */


/* Pagina Maestra */
#ContenedorEncabezado
{

}


#Contenedor 
{
    display:table;
    width:100%; 
}
#Contenedor2 
{
	text-align: center;
    display:table;
    width:100%;
    height:500px; 
}
#ContenidoSuperior, #ContenidoCentral, #ContenidoInferior
{
    display:table-row;
    width:100%;
}
#ContenidoSuperior { vertical-align:top; height: 30px; }

#ContenidoSuperiorIzquierdo, #ContenidoSuperiorDerecho,
#ContenidoCentralIzquierdo, #ContenidoCentralDerecho,
#ContenidoInferiorIzquierdo, #ContenidoInferiorDerecho
{
    display: table-cell;
}
#ContenidoPrincipal, #ContenidoSuperiorCentro, #ContenidoInferiorCentro
{
    display: table-cell;
    width: 100%;
    vertical-align: top;
}
#ContenidoPrincipal { min-height:400px; border: solid 0px gray; padding: 5px;  margin-left: auto ; margin-right: auto ;}

#ContenidoPrincipal #Agregar
{
    text-align: right;
}

#IniciarSistema
{
    width:100%;
} 
#IniciarSistema table
{
    width: 50%;
    left:25%;
    position:relative;
}
#IniciarSistema span
{
    text-align:right;
}

.ProveedoresDatos
{
    width: 100%;
}
.ProveedoresDatos td
{
    text-align: left;
}


/* Accordion */

.accordionHeader

{

    border: 1px solid #2F4F4F;

    color: white;

    background-color: #2E4d7B;

	font-family: Arial, Sans-Serif;

	font-size: 12px;

	font-weight: bold;

    padding: 5px;

    margin-top: 5px;

    cursor: pointer;

}



#master_content .accordionHeader a

{

	color: #FFFFFF;

	background: none;

	text-decoration: none;

}



#master_content .accordionHeader a:hover

{

	background: none;

	text-decoration: underline;

}



.accordionHeaderSelected

{

    border: 1px solid #2F4F4F;

    color: white;

    background-color: #5078B3;

	font-family: Arial, Sans-Serif;

	font-size: 12px;

	font-weight: bold;

    padding: 5px;

    margin-top: 5px;

    cursor: pointer;

}



#master_content .accordionHeaderSelected a

{

	color: #FFFFFF;

	background: none;

	text-decoration: none;

}



#master_content .accordionHeaderSelected a:hover

{

	background: none;

	text-decoration: underline;

}



.accordionContent

{

    background-color: #D3DEEF;

    border: 1px dashed #2F4F4F;

    border-top: none;

    padding: 5px;

    padding-top: 10px;

}

/* BUG ASYNC FILEUPLOAD FIREFOX*/
.imageUploaderField input { width:50%!important;}

/*Parametros dinamico*/
.TableCellBold 
{
	vertical-align:top !important;
	}